@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

html, body{
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

a{
    text-decoration: none;
}

ul{
    margin: 0;
    padding: 0;
}

#main{
    position: relative;
}

